<launch>
    <arg name="robot_type"             default="go2"/>  
    <arg name="robot_name"             default="/"/>
    <arg name="base_frame"             default="base_link" />
    
    <arg name="joints_map_file" default="$(find legged_config)/config/robots/go2/joints.yaml"/>
    <arg name="links_map_file" default="$(find legged_config)/config/robots/go2/links.yaml"/>
    <arg name="gait_config_file" default="$(find legged_config)/config/robots/go2/gait.yaml"/>
    <arg name="description_file" default="$(find legged_config)/config/robots/go2/go2_description.urdf"/>
    
    <arg name="gazebo"                 default="false" />
    <arg name="rviz"                   default="true"/>
    <arg name="rviz_ref_frame"         default="odom"/>
    <arg name="has_imu"                default="true" />
    <arg name="lite"                   default="false" />
    <arg name="close_loop_odom"        default="false" />
    <arg name="use_external_odom"      default="false" />  <!-- true: use nav_env odom, disable Champ state_estimation -->
    <arg name="publish_foot_contacts"  default="true" />
    <arg name="publish_joint_control"  default="true" />
    <arg name="laser"                  default="sim"/>
    <arg name="joint_controller_topic" default="joint_group_position_controller/command" />
    <arg name="hardware_connected"     default="false" />
    
    <arg name="control_mode" default="feedback"/>  <!-- feedforward / feedback / hybrid -->
    <arg name="max_vel_x" default="2.0"/>  
    <arg name="max_vel_y" default="1.0"/> 
    <arg name="max_vel_z" default="0.6"/> 
    
    <arg if="$(eval arg('robot_name') == '/')"  name="frame_prefix" value="" />
    <arg unless="$(eval arg('robot_name') == '/')" name="frame_prefix" value="$(arg robot_name)/" />

    <include file="$(find champ_bringup)/launch/bringup.launch">
        <arg name="robot_name"             value="$(arg robot_name)"/>
        <arg name="base_frame"             value="$(arg base_frame)"/>
        <arg name="joints_map_file"        value="$(arg joints_map_file)"/>
        <arg name="links_map_file"         value="$(arg links_map_file)"/>
        <arg name="gait_config_file"       value="$(arg gait_config_file)"/>
        <arg name="description_file"       value="$(arg description_file)"/>
        <arg name="has_imu"                value="$(arg has_imu)"/>
        <arg name="gazebo"                 value="$(arg gazebo)"/>
        <arg name="lite"                   value="$(arg lite)"/>
        <arg name="laser"                  value="$(arg laser)"/>
        <arg name="rviz"                   value="false"/>  
        <arg name="rviz_ref_frame"         value="$(arg frame_prefix)$(arg rviz_ref_frame)"/>
        <arg name="joint_controller_topic" value="$(arg joint_controller_topic)" />
        <arg name="hardware_connected"     value="$(arg hardware_connected)" />
        <arg name="publish_foot_contacts"  value="$(arg publish_foot_contacts)" />
        <arg name="publish_joint_control"  value="$(arg publish_joint_control)" />
        <arg name="close_loop_odom"        value="$(arg close_loop_odom)" />
        <arg name="run_state_estimation"    value="$(eval not arg('use_external_odom'))" />
        <arg name="publish_odom_tf"        value="$(eval not arg('use_external_odom'))" />
        <arg name="publish_local_odom_tf"  value="$(eval not arg('use_external_odom'))" />
    </include>

     <node unless="$(arg use_external_odom)" pkg="legged_config" name="position_to_velocity_controller" 
      type="position_to_velocity_controller.py" 
      output="screen">
         <rosparam command="load" file="$(find legged_config)/config/position_controller.yaml"/>
    
         <param name="odom_topic" value="/odom"/>
         <param name="position_cmd_topic" value="/planning/pos_cmd"/>
         <param name="cmd_vel_topic" value="/cmd_vel"/>
    
         <param name="control_mode" value="$(arg control_mode)"/>
         <param name="max_linear_vel_x" value="$(arg max_vel_x)"/>
         <param name="max_linear_vel_y" value="$(arg max_vel_y)"/>
         <param name="max_angular_vel_z" value="$(arg max_vel_z)"/>
    </node>

    <node if="$(arg rviz)" 
          name="rviz_visualization" 
          pkg="rviz" 
          type="rviz" 
          output="screen" 
          args="-d $(find nav_exp_env)/proposed/config/forex.rviz -f $(arg rviz_ref_frame)" />
    
</launch>


