<launch>
    <include file="$(find legged_config)/launch/leg_bringup.launch">
        <arg name="rviz" value="false"/>
    </include>

    <arg name="map_size_x" default="40.0"/>
    <arg name="map_size_y" default="20.0"/>
    <arg name="map_size_z" default="5.0"/>
    <arg name="use_planner" default="true"/>
    <arg name="pillar_num" default="40"/>
    
    <arg name="planning_height" default="0.8"/>
    
    <arg name="control_mode" default="feedback"/>
    <arg name="max_vel_x" default="0.6"/>  
    <arg name="max_vel_y" default="0.3"/> 
    <arg name="max_vel_z" default="0.6"/>
    
    
     <node pkg="tf" type="static_transform_publisher" name="world_to_odom_broadcaster"
          args="0 0 0 0 0 0 world odom 50" />
     
     <node pkg="map_generator" name="random_forest" type="random_forest" output="screen">    
          <remap from="~odometry" to="/odom"/>
          
          <param name="map/robot_type" value="legged"/>
          
          <param name="init_state_x" value="0.0"/>
          <param name="init_state_y" value="0.0"/>
          
          <param name="map/x_size" value="$(arg map_size_x)" />
          <param name="map/y_size" value="$(arg map_size_y)" />
          <param name="map/z_size" value="$(arg map_size_z)" />
          <param name="map/resolution" value="0.1"/>
          
          <param name="ObstacleShape/seed" value="-1"/>
          <param name="map/obs_num" value="$(arg pillar_num)"/>
          <param name="ObstacleShape/lower_rad" value="0.3"/>
          <param name="ObstacleShape/upper_rad" value="0.7"/>
          <param name="ObstacleShape/lower_hei" value="0.0"/>
          <param name="ObstacleShape/upper_hei" value="2.0"/>
          
          <param name="map/circle_num" value="30"/>
          <param name="ObstacleShape/radius_l" value="0.7"/>
          <param name="ObstacleShape/radius_h" value="0.7"/>
          <param name="ObstacleShape/z_l" value="0.7"/>
          <param name="ObstacleShape/z_h" value="3.0"/>
          <param name="ObstacleShape/theta" value="0.5"/>
          
          <param name="sensing/radius" value="10.0"/>
          <param name="sensing/rate" value="10.0"/>
     </node>

     <node pkg="local_sensing_node" type="pcl_render_node" name="pcl_render_node" output="screen">
          <rosparam command="load" file="$(find local_sensing_node)/params/camera.yaml" />
          
          <param name="sensing_horizon" value="5.0" />
          <param name="sensing_rate" value="30.0"/>
          <param name="estimation_rate" value="30.0"/>
          <param name="camera_height_offset" value="$(arg planning_height)"/>

          <param name="map/x_size" value="$(arg map_size_x)"/>
          <param name="map/y_size" value="$(arg map_size_y)"/>
          <param name="map/z_size" value="$(arg map_size_z)"/>

          <remap from="~global_map" to="/map_generator/global_cloud"/>
          <remap from="~odometry" to="/odom"/>
     </node>
     
     <include file="$(find plan_manage)/launch/kino_algorithm.xml">
          <arg name="map_size_x_" value="$(arg map_size_x)"/>
          <arg name="map_size_y_" value="$(arg map_size_y)"/>
          <arg name="map_size_z_" value="$(arg map_size_z)"/>
          
          <arg name="odometry_topic" value="/odom"/>
          
          <arg name="sensor_pose_topic" value="/pcl_render_node/sensor_pose"/>
          <arg name="depth_topic" value="/pcl_render_node/depth"/>
          <arg name="cloud_topic" value="/pcl_render_node/cloud"/>
          
          <arg name="cx" value="321.04638671875"/>
          <arg name="cy" value="243.44969177246094"/>
          <arg name="fx" value="387.229248046875"/>
          <arg name="fy" value="387.229248046875"/>
          
          <arg name="max_vel" value="$(arg max_vel_x)" />
          <arg name="max_acc" value="0.2" />
          
          <arg name="flight_type" value="1" />
          
          <arg name="point_num" value="1" />
          <arg name="point0_x" value="0.0" />
          <arg name="point0_y" value="0.0" />
          <arg name="point0_z" value="$(arg planning_height)" />
          <arg name="point1_x" value="0.0" />
          <arg name="point1_y" value="0.0" />
          <arg name="point1_z" value="$(arg planning_height)" />
          <arg name="point2_x" value="0.0" />
          <arg name="point2_y" value="0.0" />
          <arg name="point2_z" value="$(arg planning_height)" />
     </include>
     
     <param name="fast_planner_node/fsm/fixed_height" value="$(arg planning_height)"/>
     
     <param name="fast_planner_node/sdf_map/ground_height" value="0.0"/>
     <param name="fast_planner_node/sdf_map/virtual_ceil_height" value="2.0"/>
     <param name="fast_planner_node/sdf_map/visualization_truncate_height" value="1.8"/>
     <param name="fast_planner_node/sdf_map/esdf_slice_height" value="$(arg planning_height)"/>
     
     <param name="fast_planner_node/sdf_map/local_update_range_x" value="5.0"/>
     <param name="fast_planner_node/sdf_map/local_update_range_y" value="5.0"/>
     <param name="fast_planner_node/sdf_map/local_update_range_z" value="3.0"/>
     
     <param name="fast_planner_node/sdf_map/obstacles_inflation" value="0.3"/>
     
     <param name="fast_planner_node/manager/clearance_threshold" value="0.3"/>
     
     <param name="fast_planner_node/search/margin" value="0.3"/>
     
     <param name="fast_planner_node/optimization/lambda1" value="50.0"/>
     <param name="fast_planner_node/optimization/lambda2" value="3.0"/>
     <param name="fast_planner_node/optimization/lambda3" value="0.001"/>
     <param name="fast_planner_node/optimization/lambda7" value="10.0"/>
     
     <param name="fast_planner_node/manager/control_points_distance" value="0.5"/>
     
     <param name="fast_planner_node/optimization/max_iteration_num2" value="300"/>
     <param name="fast_planner_node/optimization/max_iteration_time2" value="0.01"/>
     
     <param name="fast_planner_node/search/horizon" value="5.0"/>
     
     <param name="fast_planner_node/fsm/thresh_replan" value="3.0"/>
     <param name="fast_planner_node/fsm/thresh_no_replan" value="1.5"/>
     
     <node pkg="plan_manage" name="traj_server" type="traj_server" output="screen">
          <remap from="/position_cmd" to="/planning/pos_cmd"/>
          <remap from="/odom_world" to="/odom"/>
          <param name="traj_server/time_forward" value="1.5" type="double"/>
          <param name="traj_server/init_x" value="0.0" type="double"/>
          <param name="traj_server/init_y" value="0.0" type="double"/>
          <param name="traj_server/init_z" value="$(arg planning_height)" type="double"/>
     </node>
     
     <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen">
          <remap from="~odom" to="/odom"/>        
          <remap from="~goal" to="/move_base_simple/goal"/>
          <remap from="~traj_start_trigger" to="/traj_start_trigger" />
          <param name="waypoint_type" value="manual-lonely-waypoint"/>
     </node>

     <node if="true" 
      name="rviz_visualization" 
      pkg="rviz" 
      type="rviz" 
      output="screen" 
      args="-d $(find nav_exp_env)/proposed/config/forex.rviz -f odom" />
</launch>
