<launch>
  <!-- forex_nav + 四足动力学可视化：与 forex_nav 相同的规划，但用 Champ 腿显示 -->
  <arg name="max_vel" default="2.0" />
  <arg name="max_acc" default="2.0" />
  <arg name="map_x_size" default="15" />
  <arg name="map_y_size" default="30" />
  <arg name="planning_height" default="0.45" />
  <arg name="robot_type" default="zsl-1" />
  <arg name="rviz" default="true" />
  <!-- Map loading params -->
  <arg name="init_x" default="-6.0" />
  <arg name="init_y" default="10.0" />
  <arg name="init_yaw" default="-1.57" />
  <arg name="pcd_file" default="office.pcd" />
  <arg name="rotate_z" default="0.0" />
  <arg name="trans_x" default="0.0" />
  <arg name="trans_y" default="0.0" />
  <arg name="trans_z" default="-0.3" />

  <include file="$(find nav_exp_env)/base_env/launch/nav_env_legged.launch">
    <arg name="use_click_pos_cmd" value="false" />
    <arg name="map_x_size" value="$(arg map_x_size)" />
    <arg name="map_y_size" value="$(arg map_y_size)" />
    <arg name="planning_height" value="$(arg planning_height)" />
    <arg name="robot_type" value="$(arg robot_type)" />
    <arg name="rviz" value="false" />
    <arg name="init_x" value="$(arg init_x)" />
    <arg name="init_y" value="$(arg init_y)" />
    <arg name="init_yaw" value="$(arg init_yaw)" />
    <arg name="pcd_file" value="$(arg pcd_file)" />
    <arg name="rotate_z" value="$(arg rotate_z)" />
    <arg name="trans_x" value="$(arg trans_x)" />
    <arg name="trans_y" value="$(arg trans_y)" />
    <arg name="trans_z" value="$(arg trans_z)" />
  </include>

  <include file="$(find gen_viewpoint)/launch/gen_viewpoint.launch">
    <arg name="planning_height" value="$(arg planning_height)" />
  </include>

  <node pkg="forex_nav" type="forex_nav_node" name="forex_nav" output="screen">
    <param name="fsm/replan_thresh1" value="0.4" />
    <param name="fsm/replan_thresh2" value="0.3" />
    <param name="fsm/replan_thresh3" value="2.0" />
    <param name="fsm/replan_time" value="0.3" />
    <param name="fsm/goal_reached_threshold" value="0.5" />
    <param name="fsm/no_replan_dist_to_goal" value="1.5" />
    <param name="fsm/viewpoint_reached_threshold" value="1.0" />
    <param name="nav/w_dist" value="0.3" />
    <param name="nav/w_pred" value="3.0" />
    <param name="nav/w_curve" value="0.2" />
    <param name="nav/w_homo" value="0.2" />
    <param name="nav/max_vel" value="$(arg max_vel)" />
    <param name="nav/max_acc" value="$(arg max_acc)" />
    <param name="nav/max_yawdot" value="2.09" />
    <param name="nav/traj_dt" value="0.02" />
    <param name="nav/vis_candidate_path_count" value="3"/>
    <param name="nav/planning_height" value="$(arg planning_height)" />
    <param name="nav/local_goal_max_dist" value="9.0" />
    
    <!-- MINCO trajectory optimization -->
    <param name="minco/weight_time" value="60.0" />
    <param name="minco/weight_energy" value="0.1" />
    <param name="minco/weight_pos" value="2000.0" />
    <param name="minco/weight_vel" value="100.0" />
    <param name="minco/weight_acc" value="80.0" />
    <param name="minco/weight_jerk" value="30.0" />
    <param name="minco/max_jerk" value="15.0" />
    <param name="minco/alloc_speed_ratio" value="1.0" />
    <param name="minco/length_per_piece" value="2.0" />
    <param name="minco/weight_guide" value="50.0" />
  </node>

  <!-- RViz -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz_visualization" output="screen"
        args="-d $(find nav_exp_env)/proposed/config/forex.rviz -f odom" />
</launch>
